body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#calendar-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-height: 400px; /* Límite de altura ajustable */
    overflow-y: auto;  /* Habilitar scroll vertical */
    padding: 10px;
    border: 1px solid #ddd; /* Para diferenciar el área */
    border-radius: 5px;
    background-color: #fff; /* Fondo para destacar los capítulos */
}

.day {
    width: 200px; /* Ajustado para dar más espacio al contenido */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: gold;
    cursor: pointer;
}

.week {
    width: 200px; /* Ajustado para dar más espacio al contenido */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fafafa;
    cursor: pointer;
}


.week.selected, .day.selected {
    background: #d1e7dd;
    border-color: #0f5132;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#calendar .season {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: left;
}

#questionnaire-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#questionnaire-form label {
    display: block;
    margin-top: 10px;
}

#questionnaire-form input,
#questionnaire-form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}